- name: Install docker
  ansible.builtin.apt:
    update_cache: true
    name: docker.io
    state: present
  notify: Restart docker

- name: /etc/docker directory
  ansible.builtin.file:
    path: /etc/docker
    state: directory
    owner: root
    group: root
    mode: '755'

- name: Daemon.json
  ansible.builtin.copy:
    src: files/daemon.json
    dest: /etc/docker/daemon.json
    owner: root
    group: root
    mode: '644'
  notify: Restart docker

- name: Ensure Docker is started and enabled at boot
  ansible.builtin.systemd:
    name: docker
    state: started
    enabled: true

- name: Install Docker Module for Python
  ansible.builtin.pip:
    name: docker

- name: Install docker-compose
  ansible.builtin.apt:
    update_cache: true
    name: docker-compose
    state: present
  notify: Restart docker

- name: Include docker-compose tasks
  ansible.builtin.include_tasks: docker-compose.yml
