- name: Check whether "/swapfile1" exists
  register: id_check_swap
  ansible.builtin.stat:
    path: /swapfile1

- name: Fail it if "/swapfile1" exists
  ansible.builtin.fail:
    msg: Swap file exists
  when: id_check_swap.stat.exists

- name: Allocate the swap file
  ansible.builtin.command: fallocate -l {{ swap_vars.size }} /swapfile1
  changed_when: true

- name: Change permission of the swap file
  ansible.builtin.file:
    path: /swapfile1
    mode: "600"

- name: Create a swap area on the swap file
  ansible.builtin.command: mkswap /swapfile1
  changed_when: true

- name: Activate the swap file as a swap memory
  ansible.builtin.command: swapon /swapfile1
  changed_when: true

- name: Add to fstab
  ansible.builtin.lineinfile:
    dest: /etc/fstab
    regexp: "/swapfile1"
    line: "/swapfile1 none swap sw 0 0"

# - name: Append configuration in /etc/fstab
#   ansible.builtin.command: echo '/swapfile1 none swap sw 0 0' | sudo tee -a /etc/fstab
#   changed_when: true

# - name: Set swappiness level
#   ansible.builtin.command: sysctl vm.swappiness={{ swap_vars.swappiness }}
#   changed_when: true

# - name: Append configuration in /etc/sysctl.conf
#   ansible.builtin.command: echo "\nvm.swappiness={{ swap_vars.swappiness }}\n" >> /etc/sysctl.conf
#   changed_when: true
